* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand";
}

body {
  background-color: #EEEEEE;
}

@font-face {
  font-family: "Quicksand";
  src: url(../Quicksand-Medium.ttf);
}
.navbar {
  background-color: #222222;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
}
.navbar .logo1 {
  margin: 0.3rem 0rem 0.3rem 0.7rem;
  height: 2rem;
  width: 7rem;
}

.main {
  display: block;
  background-color: white;
  height: 31.6rem;
  width: 24rem;
  margin: 4rem auto auto auto;
  padding: 1.6rem 2rem 0rem 2rem;
  border-top: 0.3rem solid #3AC7EC;
  border-radius: 0.1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main .title1 {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 1.9rem;
}
.main .title1 .text {
  margin-left: 3.3rem;
}
.main .title1 .arrow img {
  height: 1.5rem;
  width: 1.7rem;
}
.main .option {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
}
.main .option .custom-radio {
  margin-left: 0.2rem;
  margin-right: 2rem;
}
.main .state {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  color: #666666;
}
.main .ans {
  display: flex;
  font-size: 1.1rem;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 2rem;
}
.main .userdetail {
  display: flex;
  color: #666666;
  font-size: 1rem;
  border-bottom: 1px solid #d7d7d7;
}
.main .userdetail img {
  margin-left: auto;
  height: 1.4rem;
  width: 1.4rem;
}
.main .forgot {
  text-transform: uppercase;
  font-size: 0.9rem;
  display: flex;
  justify-content: end;
  color: #1F7A54;
  margin-bottom: 1.7rem;
  margin-top: 0.2rem;
}
.main .checkbox img {
  height: 1.2rem;
  width: 1.2rem;
  padding-right: 0.2rem;
}
.main .checkbox div {
  font-size: 1.1rem;
}
.main .buttondis {
  display: flex;
  justify-content: center;
}
.main .buttondis button {
  background-color: #3FD28B;
  border: none;
  text-transform: uppercase;
  padding: 0.7rem 3.7rem 0.7rem 3.7rem;
  margin: 1.7rem auto 0rem auto;
}
.main .buttondis button:hover {
  cursor: pointer;
}

.radio, .checkbox {
  accent-color: #1f7a54;
}

.hidden-radio {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.option1 {
  border: none;
  padding-right: 17rem;
}

.option2 {
  border: none;
  padding-right: 9.35rem;
}

select {
  font-size: 1.1rem;
}

input[type=text], input[type=password] {
  border: none;
  width: 100%;
}

input[type=checkbox] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer .contact {
  text-align: center;
  margin-bottom: 0.6rem;
}
footer .footerdetails {
  display: flex;
  font-size: 1rem;
  color: #616161;
  background-color: #E0E1E1;
  height: 2rem;
  justify-content: center;
  padding-top: 1.1rem;
}
footer .footerdetails img {
  height: 1.6rem;
  width: 5.4rem;
  margin-top: -0.3rem;
  margin-right: 0.5rem;
}
footer .footerdetails span {
  margin-right: 0.5rem;
}
footer .footerdetails p span {
  font-weight: bold;
}
footer .footerdetails .p1 {
  margin-right: 0.5rem;
}

.contact a {
  text-decoration: none;
  color: #1F7A54;
  font-size: 1rem;
}/*# sourceMappingURL=login.css.map */